.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;

  gap: 20px;
  margin: 0 auto;
  background-color: currentColor;
  padding: 20px 100px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 8%;
}

.logo h1 {
  font-size: 24px;
  font-weight: 550;
  margin: 0;
  color: white;

  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.logo h1 a {
  text-decoration: none;
  color: inherit;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 15px;

  gap: 50px;
}

.nav-menu ul li {
  font-size: 24px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px 10px;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-menu ul li a {
  text-decoration: none;
  color: inherit;
}

.nav-menu li:hover {
  text-decoration: underline;
  color: #676a81;
}

@media (max-width: 1081px) {
  .navbar {
    padding: 20px 50px;
  }

  .logo {
    width: 200px;
  }

  .logo img {
    width: 10%;
  }

  .logo h1 {
    font-size: 20px;
  }

  .nav-menu ul li {
    font-size: 18px;
  }
}

@media (max-width: 750px) {
  .navbar {
    padding: 20px 50px;
  }

  .logo h1 {
    font-size: 16px;
  }

  .nav-menu ul li {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 20px 20px;
  }

  .logo h1 {
    font-size: 16px;
  }

  .nav-menu ul li {
    font-size: 14px;
  }
}
